# User DB
MONGO_USER_USER=root
MONGO_USER_PASSWORD=root
MONGO_USER_DB=user_db
MONGO_USER_URI=mongodb://root:root@user-db:27017/user_db?authSource=admin

# Upload DB
MONGO_UPLOAD_USER=root
MONGO_UPLOAD_PASSWORD=root
MONGO_UPLOAD_DB=upload_db
MONGO_UPLOAD_URI=mongodb://root:root@upload-db:27017/upload_db?authSource=admin

# JWT
JWT_SECRET=teste-jwt-secret-32-characters